@keyframes anima{
    from{
        top:0;
        opacity: 0;
    }
    to{
        top:10%;
        opacity: 1;
    }
}
.aparecer{
    animation:anima 0.5s ease;
}
@media screen and (min-width:768px){
    @keyframes anima{
        from{
            top:0;
            opacity: 0;
        }
        to{
            top:15%;
            opacity: 1;
        }
    }
}